<main id="main" class="main">

  <div class="pagetitle">
    <h1>Categories</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav>
    {{#if success}}
      <div class="alert alert-success"> {{success}}</div>
    {{/if}}
    {{#if catupdate}}
      <div class="alert alert-success"> {{catupdate}}</div>
    {{/if}}
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Categories</h5>
           
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {{#if categories}}
                {{#each categories}}
                <tr>
                  <td>{{this.categoryName}}</td>
                  <td>{{this.description}}</td>
                  <td id="status{{_id}}">
                    <button class="btn {{ternary (eq this.isActive true) 'btn-success' 'btn-danger'}}" onclick="toggleStatus('{{this._id}}')">
                      {{ternary (eq this.isActive true) 'Active' 'Inactive'}}
                    </button>
                  </td>
                  <td>
                    <span><a href="/admin/editCategory/{{this._id}}"><i class="bi bi-pencil-square"></i></a></span>
                  </td>
                </tr>
                {{/each}}
                {{/if}}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<script>
 function toggleStatus(categoryId) {
   const statusButton = document.querySelector(`#status${categoryId} button`);
      let  md = false;
      let txt ='Active'
  if( statusButton.innerText=== 'Active'){
     md = true;
     txt ='Inactive'
  }   

  swal({
    title: "Are you sure?",
    text: `Do you want to ${txt} the category?`,
    icon: "warning",
    buttons: true,
    dangerMode: md,
  })
  .then((willChange) => {
    if (willChange) {
      fetch('/admin/cateDelete', {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id: categoryId })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
         
          if (data.newStatus === 'Active') {
              statusButton.classList.remove('btn-danger');
            statusButton.classList.add('btn-success');
            statusButton.textContent = 'Active';
          } else {
          
            statusButton.classList.remove('btn-success');
            statusButton.classList.add('btn-danger');
            statusButton.textContent = 'Inactive';
          }
          swal("Success!", "The category status has been updated.", "success");
        } else {
          console.error('Error updating category status:', data.message);
          swal("Error", 'Error updating category status: ' + data.message, "error");
        }
      })
      .catch(error => {
        console.error('Error:', error);
        swal("Error", "An error occurred while updating the category status.", "error");
      });
    }
  });
}

</script>
