
    <style>
        .cancel-button {
            color: red;
            border: none;
            background: none;
            cursor: pointer;
        }

        .rate-review img {
            vertical-align: middle;
            margin-right: 5px;
        }

        .container-custom {
            margin-left: 250px; /* Adjust this value according to the width of your sidebar */
            padding: 20px;
            box-sizing: border-box;
        }

        .footer-content {
            margin-bottom: 20px;
        }

        @media (max-width: 767.98px) {
            .container-custom {
                margin-left: 0;
            }
        }

        .sidebar {
            width: 250px;
        }

        .toggle-sidebar-btn {
            margin-left: -91px;
        }
    </style>
</head>

<body>
   

    <div class="container-custom">
        <h1 class="my-4 mt-5">{{pageTitle}}</h1>
        <div class="table-responsive">
            <table class="table datatable">
                <thead>
                    <tr>
                       <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Total</th>
                        <th>Date</th>
                         <th>Action</th>
                      
                    </tr>
                </thead>
                <tbody>
                    {{#each updatedOrders}}
                   
                    <tr>
                       <td>{{this.orderId}}</td>
                        <td>{{this.userId.username}}</td>
                        <td>{{this.userId.email}}</td>
                        <td>{{this.totalAmount}}</td>
                      
                        <td> {{formatDate this.createdAt}}</td>
                       
                        <td>  <a href="/admin/orderDetails/{{this._id}}" class="btn btn-md rounded font-sm">Details</a></td>
                    
                    </tr>
                   
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

   

    <script>
        function cancelOrder(orderId, productName) {
            if (confirm('Are you sure you want to cancel the order for ' + productName + '?')) {
                window.location.href = '/cancelOrder/' + orderId;
            }
        }
    </script>

